{
  "logfile": "lapis.log",

  "maintainer": "malachite",
  "useragent": "{name}/{version} by /u/{maintainer}",
  "plugins_dir": "plugins",

  "reddit_user": "malachite",
  "reddit_password": "hunter2",
  "subreddit": "stevenuniverse",
  "scan_limit": 50,
  "delay_interval": 30,

  "imgur_app_id": "",
  "imgur_app_secret": "",
  "tumblr_api_key": "",

  "vidme_user": "",
  "vidme_password": ""
}
